CLOUD_RU_API_KEY=your_cloud_ru_api_key
CLOUD_RU_BASE_URL=https://foundation-models.api.cloud.ru/v1
CLOUD_RU_OUTPUT_FORMAT=json_object
RENDER_FONT=Arial

# Image enrichment
IMAGE_MODE=retrieve
IMAGE_MODEL=black-forest-labs/FLUX.1-schnell
IMAGE_PROVIDER=auto
HF_TOKEN=
